body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-top: 40px;
}

#intro p {
    padding-left: 20px;
    padding-right: 20px;
}

.class, .function {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.collapsible {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}

.collapsible:hover {
    background-color: #ddd;
}

.content {
    display: none;
    margin-left: 20px;
}

.code-wrap {
    white-space: pre-wrap; /* This ensures the text wraps when the screen is too small */
    word-wrap: break-word; /* Break long words */
}

.gray-box {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
    overflow: auto;
}

.collapsible + .content {
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
}

.active + .content {
    display: block;
}

.collapsible:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-weight: bold;
    float: right;
}

.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.content {
    padding: 0 10px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
